@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Inter&family=Source+Serif+4:opsz@8..60&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');

body{
    background-color: white;
}
#root{
    /* background-color: black; */
    background-color: white;
}

.jacques-francois-regular {
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
}

.asul-regular {
    font-family: "Asul", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
}

.bentham-regular {
    font-family: "Bentham", serif;
    font-weight: 400;
    font-style: normal;
}
